/* ============================================================================================== */
/* !MEDIA QUERIES */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SMALL TABLET */

@media only screen and (max-width: 979px) {
	
	#body > .inner {
/*	
TK*/
	padding: 0px 20px; 
		padding: 0px 10px;
	}
	.column > .copy {
		padding: 0px 10px;
	}	
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SMALL TABLET */

@media only screen and (max-width: 959px) {

/*
	#mainFooter .column {
		width: 40%;
	}
	
	#mainFooter .column-3 {
		float: none;
	}
	
	#mainFooter .column-3 DL {
		margin-left: 0;
	}
*/
	
	
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SMALL TABLET */

@media only screen and (max-width: 899px) {
	
	#mainNavigation .nav {
		font-size: 11px;
	}
	
	#mainNavigation .nav LI > A {
		padding: 10px 15px;
		
		/* padding: 10px 15px 1px 15px; */
	}
	
	#copyright {
		text-align: center;
		padding: 0px 10px;
	}
	
	.dateDL DT {
		width: 20%;
		/* font-size: 24px; */
	}
	
	.dateDL DD {
		width: 70%;
	}
}



@media only screen and (min-width: 768px) {
	
	A:focus, A:active {
		/* color: #000 !important; */
		outline-width: 1px;
		outline-style: dotted;
		outline-color: #002a5c;
		
		background-color: #ffff99 !important;
		color: #002a5c !important;
	}
	
	#searchMobile, #searchMobile[style] {
		display: none !important;
	}
	
	#mainNavigation, #mainNavigation[style] {
		display: block !important;
	}
	
	.secondaryNavigation DL > DD[style*="display: none;"] {
		display: block !important;
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SMALL TABLET */

@media only screen and (max-width: 767px) {

/*
	#mainHeader {
	    border-top: 4px solid #7BA4D9;
	}
*/
	
	#logo {
		float: none;
		width: auto;
	}
	
	#mainHeader > .inner {
		text-align: center;
		padding: 10px 70px 0px 10px;
	}
	
	#headerContent {
		float: none;
		width: auto;
		display: inline-block;
		margin: 20px 0px 0px 0px;
	}
	
	#headerContent {
		display: none;
	}
	
	#headerNavigation .nav {
		float: none;
	}
	
	#headerNavigation .nav LI {
		float: none;
		display: inline-block;
	}


	#search {
		float: none;
		margin-top: 20px;
	}
	
	#search FIELDSET {
		display: inline-block;
		margin: auto;
	}
	
	
	
	#navToggleContainer {
		display: block;
	}
	
	#mainNavigation {
		text-align: left;
		/* background: #fff; */
	}
	
	#mainNavigation > .inner {
		padding: 0px 0px 0px 0px;
	}
	
	#mainNavigation .nav LI.hasSecondary {
		border-top: 1px solid #7ba4d9;
	}
	
	#mainNavigation .nav LI > A {
		display: block;
		padding: 10px 15px 1px 10px;
	}
	
	#mainNavigation .nav LI.hasSecondary > A {
		/* min-height: 40px; */
		padding-top: 5px;
		padding-left: 2px;
		padding-bottom: 2px;
		overflow: hidden;
	}
	
	#mainNavigation .hasSecondary > A:after {
		content: "";
		background: none;
	}
	
	#mainNavigation .hasSecondary > A:before {
		content: "";
		float: left;
		background: url(nav_open.png) no-repeat center center #7ba4d9;
		display: inline-block;
		height: 45px;
		width: 45px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 100;
		color: #fff;
		margin: -5px 12px 0px 0px;
	}
	
	#mainNavigation .hasSecondary > A.active:before {
		background: url(nav_close.png) no-repeat center center #fff;
	}
	
	#mainNavigation .hasSecondary > A:hover:after, #mainNavigation .nav LI > A.active:after,
	#mainNavigation .nav LI.hasSecondary:hover > A:after {
		content: "";
		background: none;
		padding-right: 0;
	}
	
	#mainNavigation .nav LI > A:hover, #mainNavigation .nav LI > A.active, 
	#mainNavigation .nav LI.hasSecondary:hover > A {
		background: transparent;
		color: #fff;
	}
	
	#mainNavigation .secondaryNavigation .nav DT A {
		display: block;
		min-height: 31px;
		padding-top: 5px;
	}


	#mainNavigation .secondaryNavigation .nav DD > A {
		display: block;
	}
	
	.secondaryNavigation {
		display: none;
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		background: #7ba4d9;
		text-align: left;
		
		-moz-box-shadow: 	none;
		-webkit-box-shadow: none;
		box-shadow: 		none;
		
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;

	}
	
	#mainNavigation {
		display: none;
	}
	
	#mainNavigation .nav {
		display: block;
		font-size: 12px;
		font-size: 22px;
		font-family: Oswald;
	}

	#mainNavigation .nav LI {
		float: none;
		display: block;
	}
	
	#mainNavigation .secondaryNavigation .nav {
		border: 0;
		text-align: left;

		margin: 0;
		padding: 0;
		
		float: none;
		width: auto;
	}
	
	#mainNavigation .secondaryNavigation .nav DL {
		margin: 0;
	}
	
	#mainNavigation .secondaryNavigation .nav DT {
		padding: 10px 16px 10px 8px;
		padding: 0;
		border-bottom: 1px solid #fff;
		background-color: #7ba4d9;
	}
	
	#mainNavigation .secondaryNavigation .nav DT.active {
		background-color: #D4E5F6;
		border-bottom: 1px solid #7BA4D9;
	}
	
	#mainNavigation .secondaryNavigation .nav DT A {
		font-size: 12px;
		padding: 8px 16px 0px 2px;
		margin: 0;
	}
	
	#mainNavigation .secondaryNavigation .nav DT > A:after {
		content: "";
		background: none;
		padding-right: 0;
	}
	
	#mainNavigation .secondaryNavigation .nav DT > A:hover {
		color: #fff;
	}
	
	
	
	
	#mainNavigation .secondaryNavigation DL > DT > A:before {
		content: "";
		float: left;
		background: url(nav_open.png) no-repeat center center #7ba4d9;
		display: inline-block;
		height: 31px;
		width: 45px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 100;
		color: #fff;
		margin: -8px 12px 0px 0px;
	}
	
	#mainNavigation .secondaryNavigation DL > DT > A.active:before {
		background: url(nav_close.png) no-repeat center center #fff;
	}
	
	#mainNavigation .secondaryNavigation .nav DD {
		display: none;
		padding-right: 50px;
		background: #d4e5f6;
		margin: 0;
		padding: 0;
		font-size: 12px;
		border-bottom: 1px solid #7ba4d9;
	}
	
/*
	#mainNavigation .secondaryNavigation .nav DD.first {
		padding-top: 20px;
	}
*/
	
/*
	#mainNavigation .secondaryNavigation .nav DD:last-child {
		padding-bottom: 20px;
	}
*/
	
	#mainNavigation .secondaryNavigation .nav DD > A {
		padding: 10px 32px 10px 58px;
		color: #002a5c;
	}
	



	#secondaryNavigation {
		display: none;
	}

	.secondary #contentContainer {
	    border: 0;
	    float: none;
	    margin: 0 0 25px;
	    padding: 0;
	    width: auto;
	}

	.secondary H1 {
		font-size: 24px;
		line-height: 24px;
		padding: 0px;
	}
	
	
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !FOOTER */

		
		#mainFooter > .inner {
			padding: 0px 0px 0px 0px;
		}
		
		#mainFooter DL {
			border: 0;
			padding: 0;
			margin: 0;
		}
		
		#mainFooter .column {
			float: none;
			width: auto;
			margin: 0;
		}
		
		#mainFooter .column.column-2 {
			width: auto;
			margin: 0;
		}
		
		#mainFooter .column.column-3 {
			width: auto;
			margin: 0;
		}
		
		#mobileFooterContainer {
			text-align: center;
			margin-top: 30px;
		}
		
		#mobileFooterContainer > .inner {
			display: inline-block;
			text-align: left;
			margin: auto;
		}

		#mobileFooterContainer .image {
			float: right;
			margin-right: 20px;
		}
		
		#mobileFooterContainer .social {
			float: right;
		}
		
		.social LI {
			margin: 0px 0px 20px 0px;
		}
		
		
		

		
		#mainFooter DT, #mainFooter DD {
			margin: 0;
		}
		
		#mainFooter .nav DT {
			border-bottom: 1px solid #fff;
		}
		
		#mainFooter .nav DT A {
			display: block;
			/* min-height: 31px; */
			padding-top: 8px;
			padding-bottom: 12px;
		}
		
		#mainFooter DL > DT > A:before {
			content: "";
			float: left;
			background: url(nav_open.png) no-repeat center center #7ba4d9;
			display: inline-block;
			height: 31px;
			width: 45px;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			font-weight: 100;
			color: #fff;
			margin: -8px 12px 0px 0px;
		}
	
		#mainFooter DL > DT > A.active:before {
			background: url(nav_close.png) no-repeat center center #fff;
		}
		
		#mainFooter DL > DT > A.noSecondary:before {
			content: "";
			float: none;
			background: none;
			height: auto;
			width: auto;
			margin: 0px;
		}
		
		#mainFooter DL > DT > A.noSecondary {
			margin-left: 15px;
		}
		
		#mainFooter .nav DT.active {
		    background-color: #D4E5F6;
		    border-bottom: 1px solid #7BA4D9;
		}
	
		#mainFooter .nav DD {
			display: none;
			padding-right: 50px;
			background: #d4e5f6;
			margin: 0;
			padding: 0;
			font-size: 12px;
			border-bottom: 1px solid #7ba4d9;
			color: #7BA4D9;
		}
	
		#mainFooter DD {
			display: none;
		}
		
		#mainFooter .nav DD > A {
			display: block;
		    color: #7BA4D9;
		    padding: 10px 32px 10px 58px;
		}
		
		#mainFooter .footerLink A {
			color: #7BA4D9;
		}
		
		#copyright {
			float: none;
			width: auto;
			margin: 20px 0px 10px 0px;
		}


	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !FORMS */
		.rsMinW .rsBullets {
			bottom: 10px;
			right: 0px;
			text-align: center;
			width: 100%;
		}
		
		.rsMinW .rsBullet, .rsMinW.smallSlider .rsBullet {
			background: #fff;
			height: 8px;
			width: 8px;
			margin: 0px 4px;
		}
		
		.rsMinW .rsBullet.rsNavSelected {
			background: #002a5c;
		}
		
		.rsMinW .rsArrow {
			height: 28px;
			width: 28px;
		}
		
		.rsMinW .rsArrowIcn {
			background: url(arrows_small.png) no-repeat left top;
			height: 28px;
			width: 28px;
			margin-top: 0;
			margin-left: -14px;
		}
		
		
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !HOME */
	
		.tout .title {
			font-size: 15px;
		}
		
/*
		.column {
			width: 40%;
		}
		
		.column-3 {
			clear: left;
			display: inline-block;
			margin: auto;
			float: none;
		}
*/

		
		.dateDL DT {
			font-size: 18px;
		}
		
		.dateDL DD {
			width: 62%;
		}

	#toutContainer a.tout {
		padding: /*0px*/ 15px;	
	
	}	
	
			
}



@media only screen and (min-width: 600px) {
	#viewDesktop {
		display: none;
	}
	
	
}
		
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SMALL TABLET */

@media only screen and (max-width: 599px) {

	#screen {
		max-width: 320px;
	}
	
	#body > .inner {
	/* TK */
		padding: 0px 10px;
	}
	
	H3 {
		font-size: 14px;
	}
	

	.masthead-3-columns-under #contentColumn {
		width: auto;
	}
	
	#contentColumn {
		float: none;
		width: auto;
	}
	
	#contentAside {
		float: none;
		width: auto;
	}
	
	.secondary H1 {
		font-size: 18px;
		line-height: 18px;
	}
	
	.accordionCTA SPAN.copy {
		padding-top: 4px;
	}

	.itemContainer {
		padding: 0px 5%;
	}
	
	.thumbsGroup .item {
	    margin: 0 0 20px 0;
	    width: 48%;
	    max-width: 230px;
	}
	
	.thumbsGroup .item.item-2 {
		float: right;
	}
	
	FIGCAPTION {
		position: relative;
		bottom: auto;
		left: auto;
	}
/*
	FIGURE > .inner {
		display: inline-block;
	}
*/
	
	
	#mainFooter .column {
		padding: 0;
	}
	
	#viewDesktop {
		display: block;
	}
	
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !ROYAL SLIDER */
	
		.rsMinW .rsBullet {
			height: 6px;
			width: 6px;
			margin: 0px 3px;
		}
		
		.rsMinW.smallSlider .rsBullet {
			height: 5px;
			width: 5px;
			margin: 0px 3px;
		}
		
		
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !FORMS */

		.formItem {
			float: none;
			width: 98%;
			margin-right: 0;
		}



	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !HOME */
		
/*
		#hero {
			display: none;
		}
		
		#heroMobile {
			display: block;
		}
*/
		
		.tempColumn, .column {
			float: none;
			width: auto !important;
			padding: 0;
			margin: 0px 0px 20px 0px;
		}
		
		.column > .copy {
			padding: 0px;
		}
		
		#articleContainer {
			/* background: #dcebfe; */
		}
		
		#articleContainer HR {
			/* background: #7ba4d9; */
		}

		.tout .title {
			font-size: 20px;
		}
		
		
		#newsContainer {
			/* background: #e5e5e5; */
		}
		
		.dateDL DT {
			width: 17%;
		}
		
		.dateDL DD {
			width: 81%;
		}
		
		
		
		.noMasthead #contentColumn {
			float: none;
			width: auto;
			border: 0;
			padding: 0;
		}
		
	
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !SECTION HOME */
	
/*
		.sectionHome #articleContainer A.tout {
			padding-top: 1%;
			padding-bottom: 1%;
		}
*/
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Mobile Landscape */

@media only screen and (max-width: 480px) {
	#mainFooter DL {
		border: 0;
	}
	
	#mainFooter .nav > DD {
		display: none;
		/* margin-left: 12px; */
	}
	
			.dateDL DT {
				width: 17%;
			}
			
			.dateDL DD {
				width: 75%;
			}
			
	
	#toutContainer span.image {
		display: none;
	}
	
	#toutContainer span.toutContent {
		float: none;
/*		display: block;*/
		display: table-cell;
		vertical-align: middle;
		/*padding: 0 !important;*/
		width: 100%;	
	}
	
	#toutContainer a.tout {
		padding: /*0px*/ 15px;	
		vertical-align: bottom;
	}	
			
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Mobile Portrait */

@media only screen and (max-width: 479px) {


	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* !THUMBS */
	
	.oneColumnIntro > .left {
		float: none;
		width: auto;
	}
	
	.oneColumnIntro > .right {
		float: none;
		width: auto;
	}
	
	.itemContainer {
		padding: 0;
	}
	
	.thumbsGroup .item {
		float: none;
	    margin: 0 auto 20px auto;
	    width: auto;
	    max-width: 230px;
	}
	
	.thumbsGroup .item.item-2 {
		float: none;
	}
	
	.thumbsGroup .item:last-child, .thumbsGroup .item.last {
		margin-right: auto;
	}
	
	#printer {
		display: none !important;
	}
}