/* ============================================================================================== */
/* !CSS OVERRIDES */




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !MAIN NAVIGATION DROPDOWN PANEL */

.secondaryNavigation {
	background: rgba(255, 255, 255, 0.95);
}

#mainNavigation .secondaryNavigation .nav DT A.active {
	color: #7ba4d9;
	color: #333;
}

#mainNavigation .secondaryNavigation .nav DD > A.active {
	color: #002a5b;
	color: #333;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !ACCORDION > SHAREPOINT */

UL > LI > .ms-rteStyle-Accordion {
	display: block;
	background: url(sprite_accordion.png) no-repeat left top;
	font-family: Oswald,Arial;
    font-size: 18px;
    font-weight: 400;
    color: #002A5C;
    margin: 0 0 10px;
    min-height: 30px;
	border: 1px solid #7ba4d9;
	border-left: 0;
	color: #002a5c;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 50px;
}

UL > LI > .ms-rteStyle-Accordion.active {
	background-position: left bottom;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	min-height: 31px;
}

UL > LI > .ms-rteStyle-Accordion:hover {
	cursor: pointer;
}


UL UL .ms-rteStyle-Accordion {
	background: none;
	border: 0;
	color: #020202;
	font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    margin: 0 0 16px;
    padding: 0;
	-ms-name: "Accordion";    
}

/*
UL UL LI {
	display: none;
}
*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !ACCORDION > THUMBS */
/*
.ie7 .ms-rteStyle-Accordion {
	clear: both;
}

.ms-rteStyle-Accordion .item {
	float: left;
	width: 32.394366197183%;
	width: 32%;
	margin: 0px 10px 20px 0px;
	margin: 0px 2% 20px 0px;
}

.ms-rteStyle-Accordion .item:last-child, .ms-rteStyle-Accordion .item.last {
	margin-right: 0;
}
*/
.callout {
	background: #7ba4d9;
	min-height: 60px;
	margin: 0px 0px 10px 0px;
}


.accordionBlock {
	display: block;
}







/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !HOME > TOUTS */

.home #toutContainer .column-1 .image {
	padding-top: 10px;
}

.home #toutContainer .column-1 .toutContent {
	/*padding-top: 14px;*/
}

/*
.home #toutContainer .column-2 .image {
	padding-top: 10px;
}

.home #toutContainer .column-2 .toutContent {
	padding-top: 10px;
}

.home #toutContainer .column-3 .toutContent {
	padding-top: 10px;
}
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !FOCUS STYLES FOR IMPAIRED VIEWERS */

@media only screen and (min-width: 768px) {
	A:focus, A:active {
		outline-width: 1px;
		outline-style: dotted;
		outline-color: #002a5c;
		
		background-color: #ffff99 !important;
		color: #002a5c !important;
	}
}

/*
@media only screen and (max-width: 599px) {
	UL > LI > .ms-rteStyle-Accordion {
		font-size: 13px;
		padding-top: 5px;
		min-height: 25px;
	}
	
	UL > LI > .ms-rteStyle-Accordion.active {
		min-height: 26px;
	}
}*/