/* ============================================================================================== */
/* !RESET */


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


/* ============================================================================================== */
/* !FONTS */

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/fonts/WebSymbols-Regular-webfont.eot');
    src: url('http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/fonts/WebSymbols-Regular-webfont.eot?') format('embedded-opentype'),
         url('http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/fonts/WebSymbols-Regular-webfont.woff') format('woff'),
         url('http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/fonts/WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/fonts/WebSymbols-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ============================================================================================== */
/* !UTILITIES */

.group:after	{content: "";display: table;clear: both;}
sub, sup		{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup				{top: -0.5em;}
sub				{bottom: -0.25em;}
.left			{float: left;}
.right			{float: right;}
IMG				{vertical-align: bottom;}

/*
a:hover, a:active, a:focus {
    outline: 0;
}
*/

/* ============================================================================================== */
/* !GLOBAL */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !THEMES */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !HTML TAGS */

BODY {
	font-family: Arial;
	font-size: 13px;
	line-height: normal;
	background: #fff;
	border-top: 10px solid #7BA4D9;
}

ol {
	margin-left:20px;
}

.customCss H1, H1 {
	font-size: 20px;
	font-weight: 400;
	color: #003366;
	font-family: inherit;
}

.customCss H2, H2 {
	font-family: Oswald, Arial;
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
	color: #002a5c;
}

.customCss H2 A,  H2 A {
	color: #002a5c;
	font-weight: 400;
}

.customCss H2 A:hover, H2 A:hover {
	color: #7ba4d9;
}

.secondary #contentColumn H2 {
	margin: 0px 0px 20px 0px;
}

.customCss H3, H3,  NAV#secondaryNavigation li A {
	font-family: Oswald, Arial;
	font-size: 18px;
	font-weight: 400;
	color: #7ba4d9;
	margin: 0px 0px 10px 0px;
}

H3 A {
	color: #7ba4d9;
}

H3 A:hover {
	color: #002a5c;
}

.customCss H4, H4 {
	font-size: 17px;
	font-weight: 700;
	font-family: "Arial Narrow", Arial;
	color: #7ba4d9; /* color: #7ba4d9; */ /* Commented out to inherit SP core style */
	margin: 0px 0px 10px 0px;
}

.customCss H5, H5 {
	font-family: inherit;
	font-weight: bold;
	color: #7ba4d9;
	font-size: 14px;
}

.customCss H6, H6 {
	font-size: 13px;
	color: #020202; /*#002a5b;*/
	font-family: inherit;
	font-weight: bold;	
}


SMALL {
	font-size: 10px;
	line-height: normal;
}

.customCss IMG {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

.customCss A {
	color: #7ba4d9;
	text-decoration: none;
	
	-webkit-transition:	color 0.2s ease-in;  
	-moz-transition:	color 0.2s ease-in;  
	-o-transition:		color 0.2s ease-in;  
	transition:			color 0.2s ease-in; 
}

.customCss A:hover {
	color: #002a5b;
}

A.button {
	display: inline-block;
	background: #7ba4d9;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

A.button:after {
	display: inline-block;
	position: relative;
	top: 1px;
	content: "";
	background: url(cta_arrowRight.png) no-repeat center right;
	height: 12px;
	width: 9px;
	margin: 0px 0px 0px 4px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.nowrap {
	white-space: nowrap;
}

ADDRESS {
	font-style: normal;
	white-space: pre-line;
}

OL.standard, UL.standard {
	margin: 0px 0px 20px 25px;
}

UL.standard LI {
	list-style-image: url(ul_disc.png);
	margin: 0;
	padding: 0;
}

UL.linkList {
	margin: 10px 0px;
}

UL.linkList > LI {
	background: url(rightArrowLightBlue.png) no-repeat left center;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 4px 0px;
}

UL.noBulletUL LI {
	margin: 0px 0px 8px 0px;
}

OL.standard LI, UL.standard LI {
	margin: 0px 0px 4px 0px;
}

OL.standard LI.last, OL.standard LI:last-child, UL.standard LI.last, UL.standard LI:last-child {
	margin-bottom: 0px;
}

#screen {
	max-width: 960px;
	margin: auto;
	background: #fff;
	/* padding: 0px 20px; */
}

.customCss dt {
	color: #000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SHARED CLASSES */

.image {
	position: relative;
	text-align: center;
}

FIGURE {
	position: relative;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

FIGURE > .inner {
	position: relative;
}

FIGURE IMG {
	
	text-align: center;
}

FIGCAPTION {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
/*
	background: #7ba4d9;
	background: rgba(123, 164, 217, 0.75);
*/
	
	background: rgb(149,182,225); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
	background: -moz-linear-gradient(-45deg, rgba(149,182,225,0.75) 0%, rgba(52,85,125,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(149,182,225,0.75)), color-stop(100%,rgba(52,85,125,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(149,182,225,0.75) 0%,rgba(52,85,125,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(149,182,225,0.75) 0%,rgba(52,85,125,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(149,182,225,0.75) 0%,rgba(52,85,125,0.75) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(149,182,225,0.75) 0%,rgba(52,85,125,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b6e1', endColorstr='#34557d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	color: #fff;
	font-weight: 700;
	margin: 0;
	width: 100%;
}

FIGCAPTION SPAN {
	display: block;
	padding: 6px 12px;
	text-align: left;
}

.maxWidth-460 {
	max-width: 460px;
}

.maxWidth-430 {
	max-width: 430px;
}

.pullQuote {
	float: left;
	max-width: 190px;
	color: #7ba4d9;
	text-align: right;
	margin: 0px 10px 10px 0px;
}

.pullQuote BLOCKQUOTE {
	font-size: 30px;
	line-height: 28px;
	margin-bottom: 8px;
	color: #7ba4d9;
}

.pullQuote CITE {
	font-size: 14px;
	line-height: 18px;
}

#contentColumn BLOCKQUOTE P {
	/*color: #7a7a7a*/;
	padding: 0px 0px 0px 40px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !ACCORDION */


.accordionBlock {
	display: none;
	*clear: both;
}

.ie7 .accordionBlock {
	clear: both;
}

.accordion.first .accordionBlock {
	display: block;
}



.accordionCTA {
	border: 1px solid #7ba4d9;
	color: #002a5c;
	margin: 0px 0px 10px 0px;
	*height: 28px;
}

.ie7 .accordionCTA {
	height: 28px;
}

.accordion.active .accordionCTA {
	border-right: 0;
	border-bottom: 0;
}

.accordionCTA:hover {
	cursor: pointer;
}

.accordionCTA SPAN.icon {
	float: left;
	background: url(accordion_open.png) no-repeat center center #7ba4d9;
	display: inline-block;
	height: 28px;
	width: 38px;
/*
	height: 13px;
	width: 20px;
*/

/*
	font-size: 36px;
	line-height: 36px;
*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	color: #fff;
	margin: 0px 12px 0px 0px;
	border-right: 1px solid #dee9f6;
}

.accordion.active .accordionCTA SPAN.icon {
	border-bottom: 1px solid #7ba4d9;
}

.accordionCTA SPAN.copy {
	float: left;
}

.accordion.opened .accordionCTA SPAN.icon {
	background: url(accordion_close.png) no-repeat center center #7ba4d9;
}


.ui-accordion-header {
	border: 1px solid #7ba4d9;
	color: #002a5c;
	margin: 0px 0px 10px 0px;
	min-height: 28px;
	padding: 2px 0px 0px 50px;
/*	background: url("../images/icons/sprite_accordion.png") no-repeat scroll left top transparent !important; */
	cursor: pointer;
	position: relative;
}

.ui-accordion-header-icon {	
/*	display: inline-block;*/
position: absolute;
left: 0;
top: 0;
margin-top: 0;	
background-position: -32px -16px;
display: block;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
width: 41px;
height: 30px;
cursor: pointer;
}

    .defaultIcon
    {
    background: url('accordion_gradient_open.png') no-repeat center center #7ba4d9 !important;

    }
    .selectedIcon
    {
    background:url('accordion_gradient_close.png') no-repeat center center #7ba4d9 !important;
 	

    }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !FORMS */

BUTTON:hover {
	cursor: pointer;
}

.customCss LABEL {
	display: block;
	font-family: arial;
	font-size: 11px;
	color: #666;
	margin: 0px 0px 4px 0px;
}

.customCss INPUT[type=text], .customCss INPUT[type=password] {
	width: 100%;
	background: #f6fafd;
	border: 1px solid #7ba4d9;
	margin: 0;
	padding: 4px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	*width: 95%;
}

.ie7 INPUT[type=text], .ie7 INPUT[type=password] {
	width: 95%;
}

.customCss INPUT[type=text].full, .customCss INPUT[type=password].full {
	width: 100%;
	*width: 97.5%;
}

.ie7 INPUT[type=text].full, .ie7 INPUT[type=password].full {
	width: 97.5%;
}

.customCss SELECT {
	width: 100%;
	border: 1px solid #7ba4d9;
	background: #f6fafd;
	margin: 0;
	padding: 2px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.formItem {
	float: left;
	width: 48%;
	margin: 0px 2% 20px 0px;
}

.formItem:last-child {
	margin-right: 0;
}

.formItemFull {
	float: none;
	width: 98%;
	margin-right: 0;
}

.required {
	color: #e31837;
	margin-right: 2px;
}

.error, #contentColumn P.error {
	color: #e31837;
}

.formItem.radioItem {
	float: none;
	display: inline-block;
	width: auto;
}

.radioItem LABEL {
	display: inline-block;
	color: #7ba4d9;
	font-size: 13px;
	text-transform: uppercase;
}

.formCTA {
	margin: 10px 0px;
}

.formCTA A {
	display: inline-block;
	color: #fff;
	font-weight: 700;
	padding: 10px 12px;

background: rgb(123,164,217); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
background: -moz-linear-gradient(top, rgba(123,164,217,1) 0%, rgba(90,131,183,1) 60%, rgba(51,92,142,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,164,217,1)), color-stop(60%,rgba(90,131,183,1)), color-stop(100%,rgba(51,92,142,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(123,164,217,1) 0%,rgba(90,131,183,1) 60%,rgba(51,92,142,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(123,164,217,1) 0%,rgba(90,131,183,1) 60%,rgba(51,92,142,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(123,164,217,1) 0%,rgba(90,131,183,1) 60%,rgba(51,92,142,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(123,164,217,1) 0%,rgba(90,131,183,1) 60%,rgba(51,92,142,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ba4d9', endColorstr='#335c8e',GradientType=0 ); /* IE6-8 */
}

.formCTA A:hover {
	color: #ddd;
}

#desktopSearchLabel, #mobileSearchLabel {
	display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !TABLES */

.customCss TABLE {
	font-size: 12px;
	width: 100%;
	border: 0;
	padding: 2px;
	margin: 10px 0px;
}

.customCss TR {
	background: #fff;
}

.customCss TR:nth-child(odd) {
	background: #fff;
}

.customCss .nonAlternating TR:nth-child(even) {
	background: #fff;
}

.customCss TR:nth-child(even) {
	background: #f2f2f2;
}

.customCss TH {
	font-family: Oswald, Arial;
	font-weight: 400;
	background: #eff5fc;
	color: #002554;
}

.customCss .leftAligned TR TD:first-child, .customCss .leftAligned TR TH:first-child {
	/*color: #002554;*/
}

.customCss TR TH:first-child {
	/*color: #002554;*/
}

.customCss .leftAligned TR TD:first-child {
	/*font-weight: bold;*/
}

.customCss TD, .customCss TH {
	border-left: 1px solid #dbdcd9;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.customCss TH {
	padding: 6px 10px;
}

.customCss TR TD:first-child, .customCss TR TH:first-child {
	border: 0;
	text-align: left;
}

.customCss TR TD:first-child {
	color: #7ba4d9;	
}


.customCss TABLE .circle {
	font-size: 24px;
}

.customCss TABLE.leftAligned th,.customCss TABLE.leftAligned td  {
	text-align: left;
	padding: 5px 5px 5px 10px;		
}

.customCss .hasRowspans tr.subheading td {
	background-color: #f2f2f2 !important;	
	font-family: Oswald, Arial;
	color: #7ba4d9;
	text-align: left;
}

.customCss .hasRowspans TR TD {
	color: #000;
	border: 0;
	text-align: center;
	border: 1px solid #dbdcd9;
	background-color: white !important;
	padding: 5px 5px 5px 10px;	
	vertical-align: top;	
}

.customCss .hasRowspans TR TD[rowspan] {
	padding-left: 20px;
}


/* ============================================================================================== */
/* !HEADER */

#mainHeader {
	/* border-top: 10px solid #7ba4d9; */
	*margin-bottom: 20px;
}

.ie7 #mainHeader {
	margin-bottom: 20px;
}

#mainHeader > .inner {
	padding: 30px 50px 30px 40px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !LOGO */

#logo {
	float: left;
	width: 35%;
	text-align: center;
}

#logoCTA {
	display: block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !HEADER CONTENT */

#headerContent {
	float: right;
	width: 60%;
	font-size: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !HEADER NAVIGATION */

#headerNavigation .nav {
	float: right;
}

#headerNavigation .nav LI {
	float: left;
	*margin-left: 10px;
}

#headerNavigation .nav LI:after {
	content: "|";
	padding: 0px 6px 0px 2px;
}

.ie7 #headerNavigation .nav LI {
	margin-left: 10px;
}

#headerNavigation .nav LI A {
	color: #002a5b;
}

#headerNavigation .nav LI A:hover {
	color: #7ba4d9;
}

#headerNavigation .nav LI.last:after {
	content: "";
	padding: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !HEADER SEARCH */

#search {
	float: right;
	margin: 10px 0px 0px 0px;
	
	*float: right;
	*text-align: right;
	*width: 300px;
}

.ie7 #search {
	float: right;
	text-align: right;
	width: 300px;
}

.ie7 .searchForm {
	text-align: right;
	float: right;
}

.searchForm {
	width: 100%;
	*text-align: right;
	*float: right;
}

.searchForm FIELDSET {
	display: block;
}

.searchForm INPUT[type=text] {
	float: left;
	display: inline;
	border: 1px solid #7ba4d9;
	font-size: 12px;
	line-height: 12px;
	min-height: 15px;
	width: auto;
	color: #333;
	margin: 0px 5px 0px 0px;
	background: url(search_icon.png) no-repeat 5px center #fff;
	padding: 6px 0px 4px 25px;
	vertical-align: bottom;
	
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	-moz-border-radius:		0px;
	-webkit-border-radius:	0px;
	border-radius:			0px;
	-khtml-border-radius:	0px;
}

.ie7 .searchForm INPUT[type=text] {
	
}

.searchForm BUTTON {
	float: left;
	display: inline-block;
	background: #7ba4d9;
	color: #fff;
	border: 1px solid #7ba4d9;
	margin: 0;
	padding: 5px 10px;
	vertical-align: bottom;
	overflow: hidden;
	font-size: 12px;
	line-height: 12px;
	height: 15px;
	font-family: Arial;	

	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	-moz-border-radius:		0px;
	-webkit-border-radius:	0px;
	border-radius:			0px;
	-khtml-border-radius:	0px;
	
	background-color: #7ba4d9; 
	background-image: url(http://www.sgs.utoronto.ca/_catalogs/masterpage/SgsBranding/css/images/fallback-gradient.png); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ba4d9), to(#386194));
	background-image: -webkit-linear-gradient(top, #7ba4d9, #386194); 
	background-image:    -moz-linear-gradient(top, #7ba4d9, #386194);
	background-image:     -ms-linear-gradient(top, #7ba4d9, #386194);
	background-image:      -o-linear-gradient(top, #7ba4d9, #386194);
	
	*height: 27px;
}

.ie7 .searchForm BUTTON {
	height: 27px;
}

INPUT[type=text]::-moz-focus-inner,INPUT[type=password]::-moz-focus-inner, BUTTON[type=submit]::-moz-focus-inner {
	margin: 0;
	padding: 0;
}

INPUT[type=text]::-moz-focus-inner, INPUT[type=password]::-moz-focus-inner {
	padding-bottom: 6px;
}


#searchMobile {
	display: none;
	background: #002a5b;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #7ba4d9;
}

#searchMobile FORM {
	display: inline-block;
	margin: auto;
}



/* ============================================================================================== */
/* !MAIN NAVIGATION */

#mainNavigation {
	position: relative;
	background: #002a5b;
	text-align: center;
	min-height: 35px;
	line-height: normal;
	font-size:0;
	z-index: 100;
	
	*width: 960px;
	*clear: both;
}

.ie7 #mainNavigation {
	width: 960px;
	clear: both;
}

#mainNavigation > .inner {
	font-size: 0;
}

#mainNavigation .nav {
	display: inline-block;
	margin: 0px auto;
	vertical-align: bottom;
	font-size: 12px;
	
	*zoom:1; 
	*display: inline; 
	_height: 30px;
}

.ie7 #mainNavigation .nav {
	zoom:1; *display: inline; _height: 30px;
}

#mainNavigation .nav LI {
	display: inline-block;
	float: left;
}

#mainNavigation .nav LI > A {
	display: inline-block;
	/*background: #002a5b;*/
	color: #fff;
	padding: 10px 15px;
	min-height: 15px;
	-webkit-transition:	background-color 0.25s ease-in;  
	-moz-transition:	background-color 0.25s ease-in;  
	-o-transition:		background-color 0.25s ease-in;  
	transition:			background-color 0.25s ease-in; 
}

#mainNavigation .nav LI > A:hover, #mainNavigation .nav LI > A.active, 
#mainNavigation .nav LI.hasSecondary:hover > A {
	background: #7ba4d9;
	color: #fff;
}

#mainNavigation .nav LI.selected {
	background: #7ba4d9 !important;
	color: #fff;
}

#mainNavigation .hasSecondary > A:after {
	content: "";
	background: url(nav_hasSecondary.png) no-repeat right center;
	padding-right: 16px;
}

#mainNavigation .hasSecondary > A:hover:after, #mainNavigation .nav LI > A.active:after, #mainNavigation .nav LI.selected.hasSecondary > A:after,
#mainNavigation .nav LI.hasSecondary:hover > A:after {
	content: "";
	background: url(nav_hasSecondaryOver.png) no-repeat right center;
	padding-right: 16px;
}

#navToggleContainer {
	display: none;
	border-bottom: 4px solid #002a5b;
	padding: 0px 4px 0px 0px;
	margin-top: -40px;
}

#navToggleContainer.active {
	border-bottom: 4px solid #7ba4d9;
}

#navToggle {
	float: right;
	padding: 7px 4px 20px 4px;
	height: 21px;
	width: 37px;
	background: url(navToggle_off.png) no-repeat center 7px #fff;
	text-indent: -9999px;
}

#navToggleContainer.active #navToggle {
	background: url(navToggle_on.png) no-repeat center 7px #7ba4d9;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !MAIN NAVIGATION > SECONDARY */

.secondaryNavigation {
	display: none;
	position: absolute;
	top: 35px;
	left: 0.5%;
	width: 99%;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	text-align: left;
	
	border-top: 2px solid transparent;
	
	-moz-box-shadow:    0px 8px 12px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 8px 12px rgba(0,0,0,0.5);
	box-shadow:         0px 8px 12px rgba(0,0,0,0.5);
	
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    
    z-index: 1000;
}

#mainNavigation .secondaryNavigation .nav {
	border-right: 1px solid #d1d2d4;
	padding: 0px 2.5% 0px 0px;
	margin: 2.5% 0px 2.5% 2.5%;

	width: 19%;
	display: block;
	float: left;
}

#mainNavigation .secondaryNavigation .nav DL {
	margin: 20px 0px 0px 0px;
}

#mainNavigation .secondaryNavigation .nav DL:first-child, #mainNavigation .secondaryNavigation .nav DL.first {
	margin-top: 0;
}

#mainNavigation .secondaryNavigation .nav:last-child, #mainNavigation .secondaryNavigation .nav.last {
	border: 0;
}

#mainNavigation .secondaryNavigation .nav DT A {
	font-size: 18px;
	color: #002a5b;
	margin: 0px 0px 8px 0px;
}

#mainNavigation .secondaryNavigation .nav DT A {
	color: #002a5b;
}

#mainNavigation .secondaryNavigation .nav DT A:hover {
	color: #7ba4d9;
}

#mainNavigation .secondaryNavigation .nav DD {
	margin: 5px 0px;
}

#mainNavigation .secondaryNavigation .nav DD > A {
	display: inline-block;
	/* background: none; */
	color: #7ba4d9;
	
	-webkit-transition:	background-color 0.25s ease-in;  
	-moz-transition:	background-color 0.25s ease-in;  
	-o-transition:		background-color 0.25s ease-in;  
	transition:			background-color 0.25s ease-in; 
}

#mainNavigation .secondaryNavigation .nav DD > A:hover {
	color: #002a5b;
}


/* ============================================================================================== */
/* !ASIDE */
ASIDE .item {
	margin: 0px 0px 30px 0px;
}

ASIDE .image {
	margin: 0px 0px 4px 0px;
}

/* ============================================================================================== */
/* !FOOTER */

#mainFooter {
	/* background: url(../images/global/footer_bg.png) no-repeat right center #7ba4d9; */
	background: #7ba4d9;
	min-height: 439px;
	
	border-top: 10px solid #002a5c;
	color: #fff;
	
	width: auto;
}

.ie7 #mainFooter {
	width: 960px;
}

#mainFooter > .inner {
	padding: 25px 60px 40px 60px;
}

#mainFooter .column {
	border: 0;
	margin: 0;
	width: 30.952380952381%;
	/*
width: 30%;
	margin-right: 2.93%;
*/
}


#mainFooter .column.column-2 {
	/* width: 34.347826086957%; */
	margin: 0px 8.333333333333%;
}


#mainFooter .column.last {
	width: 21.428571428571%;
	margin-right: 0;
}

#mainFooter DL {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 2px solid #b9ceeb;
}

#mainFooter DL:last-child, #mainFooter DL.last {
	border: 0;
	padding-bottom: 0;
}

#mainFooter DT {
	font-weight: 700;
}

#mainFooter DT, #mainFooter DD {
	margin: 0px 0px 2px 0px;
}

#mainFooter A {
	color: #fff;
}

#mainFooter A:hover {
	color: #002a5b;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !FOOTER > COLUMN #3 */

#mainFooter .column-3 DL {
	border: 0;
	padding-bottom: 0;
	margin-right: 0;
	/* margin-left: 7.1%; */
}

.footerSmallDL {
	font-size: 11px;
}

#mainFooter .footerSmallDL A {
	color: #002a5b;
}

#mainFooter .footerSmallDL A:hover {
	color: #fff;
}

.footerLink {
	display: block;
	margin-left: 10px;
	line-height: 18px;
	font-size: 11px;
}

.social {
	margin: 20px 0px;
}

.social LI {
	margin: 0px 0px 8px 0px;
}

.social A SPAN {
	padding-left: 6px;
	vertical-align: middle;
	line-height: 24px;
}

#copyright {
	clear: both;
	/* display: inline-block; */
	color: #002a5b;
	margin: 50px auto 0px auto;
	font-size: 12px;
	
	*width: 840px;
}

.ie7 #copyright {
	width: 840px;
}

#copyright LI {
	float: left;
	margin: 0px 10px 0px 0px;
}

#copyright LI.last, #copyright LI:last-child {
	margin-right: 0;
}

#copyright .col-1 {
	
}

#copyright .col-2 {
	
}

#copyright .col-3 {
	
}

#copyrightCopy {
	color: #666;
}

#viewDesktop {
	display: none;
	text-align: center;
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
}





/* ============================================================================================== */
/* !ROYAL SLIDER */

.royalSlider {
	overflow: hidden;
}

.royalSliderFull {
	width: 100%;
	height: 310px;
}

.mobileSlider {
	height: 550px;
	margin: 0px 0px 10px 0px;
}

.mobileSlider .copy {
	padding: 10px;
}

#heroMobile {
	display: none;
}

.royalSlider.insideSlider {
	height: 144px;
	width: 100%
}

.rsMinW .rsOverflow, .rsMinW .rsSlide, .rsMinW .rsVideoFrameHolder, .rsMinW .rsThumbs {
	background: #002a5b;
}

.asideSlider.royalSlider {
	height: 224px;
	width: 100%;
}

.rsMinW .rsBullets {
	bottom: 12px;
	right: 0px;
	text-align: center;
	width: 100%;
}

.rsMinW .rsBullet {
	background: #fff;
	height: 12px;
	width: 12px;
}

.rsMinW .rsBullet.rsNavSelected {
	background: #002a5c;
}

.rsMinW .rsArrow {
	height: 61px;
	width: 61px;
}

.rsMinW .rsArrowIcn {
	background: url(arrows_large.png) no-repeat left top;
	height: 61px;
	width: 61px;
	margin-left: -30px;
}





.rsMinW.smallSlider .rsBullets {
	bottom: 10px;
	right: 0px;
	text-align: center;
	width: 100%;
}

.rsMinW.smallSlider .rsBullet {
	background: #fff;
	height: 10px;
	width: 10px;
}

.rsMinW.smallSlider .rsBullet.rsNavSelected {
	background: #002a5c;
}

.rsMinW.smallSlider .rsArrow {
	height: 28px;
	width: 28px;
}

.rsMinW.smallSlider .rsArrowIcn {
	background: url(arrows_small.png) no-repeat left top;
	height: 28px;
	width: 28px;
	margin-top: 0;
	margin-left: -14px;
}





.rsMinW .rsArrowLeft {
	bottom: 50%;
	left: 0px;
}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
	background-position: left bottom;
}

.rsMinW .rsArrowRight {
	bottom: 50%;
	right: 0px;
}

.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
	background-position: left top;
}

.asideSlideContent, .insideSlideContent, .mobileSliderContent {
	display: none;
	opacity: 0;
	margin: 8px 0px;
}

.asideSlideContent:first-child, .asideSlideContent.first,
.insideSlideContent:first-child, .insideSlideContent.first,
.mobileSliderContent:first-child, .mobileSliderContent.first {
	display: block;
	opacity: 1;
}

.asideSlideContent H6 {
	font-size: 12px;
}

.mobileSliderContent, .mobileSlider .rsSlide {
	background: #002a5c;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Oswald, Arial;
	color: #fff;
	margin-top: 0;
	/* padding: 10px; */
}

.mobileSlider IMG {
	margin-top: 0 !important;
}

.mobileSlider .ctaContainer {
	margin: 10px 0px 0px 0px;
}


/* ============================================================================================== */
/* !JQTRANSFORM */

form.jqtransformdone label {
	float: none;
}

form.jqtransformdone .radioItem label {
	float: left;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen {
	background: url(selectRight.png) no-repeat left top;
	height: 30px;
	width: 30px;
}

.jqTransformSelectWrapper {
	float: none;
	width: 100% !important;
	
	background: #f6fafd;
	border: 1px solid #7ba4d9;
	
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.jqTransformSelectWrapper ul {
	width: 99.5% !important;
	background: #f6fafd;
}

.jqTransformSelectWrapper ul a.selected {
	background: #7ba4d9;
	color: #fff;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background: #f6fafd;
	color: #333;
}

.jqTransformInputWrapper {
	float: none;
	width: 100% !important;
	
	background: #f6fafd;
	border: 1px solid #7ba4d9;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.jqTransformInputInner {
	background: none;
}

.jqTransformRadio {
    background: url(radio.png) no-repeat scroll center top transparent;
    display: block;
    height: 13px;
    vertical-align: middle;
    width: 13px;
}

a.jqTransformCheckbox {
    background: url(checkbox.png) no-repeat scroll center top transparent;
    display: block;
    height: 13px;
    vertical-align: middle;
    width: 13px;
    margin: 0px 4px 0px 0px;
}

a.jqTransformChecked {
	background-position: left bottom;	
}

form.jqtransformdone .checkboxItem label {
	display: inline-block;
	 margin: 5px 0px 0px 0px;
}



/* ============================================================================================== */
/* !HOME */

#body {
	margin-top: 20px;
}

.home .royalSlider {
	width: 100%;
	height: 310px;
}

.column {
	float: left;
	width: 32.916666667%;
	margin: 0px 0.625% 0px 0px;
	/* margin: 0px 0.825% 0px 0px; */
	/* margin: 0px 6px 0px 0px; */
	
}

.column P {
	margin-right: 15px;
}

.column.last {
	margin-right: 0;
}

.home .column .copy {
	padding: 0px 30px 0px 0px;
}

.home .column H2 {
	margin-bottom: 10px;
}

.home .image {
	max-width: 316px;
	margin: 0px auto 10px auto;
}

/*
.home #hero {
	position: relative;
	z-index: 1;
}
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Article Container */

#articleContainer {
	color: #002a5c;
}

#articleContainer A.image {
	display: block;
	border-top: 10px solid #002a5c;
	/* margin: 0px 0px 10px 0px; */
	text-align: center;
	
	-webkit-transition:	border-color 0.25s ease-in;
	-moz-transition:	border-color 0.25s ease-in;
	-o-transition:		border-color 0.25s ease-in;
	transition:			border-color 0.25s ease-in;
}

#articleContainer A.image:hover {
	border-color: #7ba4d9;
}

#articleContainer HR {
	background: #ececec;
	height: 2px;
	border: 0;
	width: 50%;
	margin: 15px 0px;
	
	*text-align: left;
}

.ie7 #articleContainer HR {
	text-align: left;
}

#articleContainer P A {
	font-weight: 700;

}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Tout Container */

#toutContainer {
	margin: 10px 0px 0px 0px
}

#toutContainer .column {
	border: 0;
}





.tout {
	display: block;
	background: #7ba4d9;
	
	padding: 15px;/*10px 15px 10px 5px;*/
	color: #fff;

	-moz-box-shadow:    inset 0px 0px 40px 0px #6a91c5;
	-webkit-box-shadow: inset 0px 0px 40px 0px #6a91c5;
	box-shadow:         inset 0px 0px 40px 0px #6a91c5;

	-webkit-transition:	color 0.25s ease-in;
	-moz-transition:	color 0.25s ease-in;
	-o-transition:		color 0.25s ease-in;
	transition:			color 0.25s ease-in;
	
	*height: 100px;
}

/*
#contentAside A.tout {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px !important;
}
*/

A.tout .arrow:after {
	display: inline-block;
	position: relative;
	top: 1px;
	content: "";
	background: url(cta_arrowRight.png) no-repeat center right;
	height: 12px;
	width: 9px;
	margin: 0px 0px 0px 4px;
}

.ie7 .tout {
	height: 100px;
}

.tout .image {
	float: left;
	width: 31.65%;
	margin: 0;
}

.toutContent {
	float: right;
	width: 65%;
	display: table-cell;
	vertical-align: middle;	
/*	padding: 6px 0px 0px 0px;*/
}

.toutContent.full {
/*	display: block;*/
	float: none;
	width: auto;
/*	padding: 10px 15px 5px 15px;*/
}

.tout .title {
	display:inline;
	font-family: Oswald, Arial;
	font-size: 18px;
}

.tout .copy {
	display: block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !News Container */

#newsContainer {
	margin: 0.625% 0px 5px 0px;
	/* margin: 6px 0px 0px 0px; */
	
	*clear: both;
}

#newsContainer HR {
	background: #ececec;
	height: 2px;
	border: 0;
	width: 50%;
	margin: 15px 0px;
	
	*text-align: left;
}

.ie7 #newsContainer HR {
	text-align: left;
}

#newsContainer P A {
	font-weight: 700;
}

.ie7 #newsContainer {
	clear: both;
}

#newsContainer .image {
	display: block;
	border-top: 10px solid #002a5c;
	/* margin: 0px 0px 10px 0px; */
	text-align: center;
	
	-webkit-transition:	border-color 0.25s ease-in;
	-moz-transition:	border-color 0.25s ease-in;
	-o-transition:		border-color 0.25s ease-in;
	transition:			border-color 0.25s ease-in;
}

#newsContainer .image:hover {
	border-color: #7ba4d9;
}




.dateDL {
	margin: 0px 0px 5px 0px;
}

.dateDL DT {
	float: left;
	width: 20%;
	font-family: Oswald, Arial;
	font-size: 20px;
	line-height: 20px;
}

.dateDL DD {
	float: right;
	width: 75%;
}

.more:after {
	content: ">";
	font-family: Arial;
	font-size: 9px;
	margin: 0px 0px 0px 4px;
}







/* ============================================================================================== */
/* !SECONDARY */

.secondary #body {
	margin-top: 0;
}

.secondary H1 {
	font-size: 32px;
	line-height: 32px;
	margin: 20px 0px;
	padding: 0px 20px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !SECONDARY NAVIGATION (LEFT SIDE) */

/*
.secondary NAV#secondaryNavigation, NAV#secondaryNavigation  {
	float: left;
	width: 22.9%;
	min-height: 554px;
	margin: 0px 1% 0px 0px;
	background: url(../images/global/secondaryNav_bg.png) no-repeat left top;
	color: #002a5c;
}

.secondary NAV#secondaryNavigation > .inner {
	padding: 20px;
}

.secondary NAV#secondaryNavigation H3, NAV#secondaryNavigation UL A {
	font-size: 18px;
	font-weight: 100;
	color: #002a5c;
	margin: 0px 0px 20px 0px;
}

.secondary NAV#secondaryNavigation .nav {
	font-size: 14px;
	color: #002a5c;
}

.secondary NAV#secondaryNavigation .nav LI {
	margin: 0px 0px 16px 0px;
}

.secondary NAV#secondaryNavigation .nav A {
	color: #002a5c;
}

.secondary NAV#secondaryNavigation .nav A:hover {
	color: #7ba4d9;
}

.secondary NAV#secondaryNavigation .nav A.active {
	font-weight: bold;
}

.secondary NAV#secondaryNavigation .nav .nav {
	list-style-image:url('../images/bullets/secondaryNav_secondLevel.png');
	margin: 4px 0px 0px 12px;
}

.secondary NAV#secondaryNavigation .nav .nav LI {
	margin: 0px 0px 4px 0px;
}
*/

NAV#secondaryNavigation  {
	float: left;
	width: 22.9%;
	min-height: 554px;
	margin: 0px 1% 0px 0px;
	background: url(secondaryNav_bg.png) no-repeat left top;
	color: #002a5c;
}

NAV#secondaryNavigation > .inner {
	padding: 20px;
}


NAV#secondaryNavigation H3, NAV#secondaryNavigation LI A {
	font-size: 18px;
	font-weight: 100;
	color: #002a5c;
/*	margin: 0px 0px 20px 0px;*/
}

NAV#secondaryNavigation .nav, NAV#secondaryNavigation LI LI A {
	font-size: 14px;
	color: #002a5c;
	font-family: Arial;
}

NAV#secondaryNavigation .nav LI, NAV#secondaryNavigation LI LI A {
	/*margin: 0px 0px 16px 0px;*/
}

NAV#secondaryNavigation A {
	color: #002a5c;
	background-color: transparent;
}

NAV#secondaryNavigation .nav A:hover, NAV#secondaryNavigation  LI A:hover {
	color: #7ba4d9;
}

NAV#secondaryNavigation .nav A.active, NAV#secondaryNavigation .selected {
	font-weight: bold;
}

/* first level menu item */
NAV#secondaryNavigation .nav .nav, NAV#secondaryNavigation UL.root > LI > A {
}

/* second level menu item */
NAV#secondaryNavigation .nav .nav, NAV#secondaryNavigation UL.root > LI > UL > LI > A {
	padding-left: 20px;
	margin: 0px;	
}

/* third level menu item */
NAV#secondaryNavigation .nav .nav, NAV#secondaryNavigation UL.root > LI > UL > LI > UL > LI > A {
	background-image:url('secondaryNav_secondLevel.png');
	background-repeat: no-repeat;
	background-position: 25px 7px;	
	padding: 3px 5px 3px 38px;
	margin: 0px;
	font-size: 12px;
}

/* fourth level menu item */
NAV#secondaryNavigation UL.root > LI > UL > LI > UL > LI > UL > LI > A {
	background-image:url('secondaryNav_secondLevel.png');
	background-repeat: no-repeat;
	background-position: 25px 7px;	
	padding: 3px 5px 3px 38px;
	margin: 0 0 0 15px;
	font-size: 12px;
}

NAV#secondaryNavigation UL.root > LI > UL > LI > UL {
	display: none;
}

NAV#secondaryNavigation LI {
	display: block;
}

.siteHome NAV#secondaryNavigation, .primaryHome NAV#secondaryNavigation {
	display: none;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !CONTENT CONTAINER */

#contentContainer {
	float: right;
	width: 74.9%;
	border-left: 1px solid #dbdcd9;
	padding: 0px 0px 0px 1%;
	margin: 0px 0px 25px 0px;
}

.secondary #hero {
	margin: 0px 0px 20px 0px;
}

#contentColumn {
	float: left;
	width: 66%;
	width: 63.722222222222%;
}

#contentColumn P {
	font-size: 13px;
	line-height: 16px;
	color: #020202;
	margin: 0px 0px 16px 0px;
}

#contentColumn H5 {
	margin: 16px 0px;
}

#contentColumn .image.left {
	padding: 0px 10px 10px 0px;
}

#contentAside a {
	padding: 0;
	margin: 0;
}

#contentAside .image {	
	display: none;
}

#contentAside .toutContent {
	float: left;
	padding: 15px;
	margin: 0;
	width: auto;
}


#contentAside SPAN.title {
	display: block;
}

.contentAside {
	float: right;
	width: 35%;
}



#asideCarousel H5 {
	font-size: 16px;
	font-weight: 400;
	color: #7ba4d9;
	margin: 0px 0px 4px 0px;
}

#asideCarousel #asideCarouselIndex {
	float: right;
	font-size: 10px;
	color: #aaabad;
	margin: 0px 0px 16px 0px;
}

#asideCarousel {
	line-height: 16px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !MASTHEAD */

.masthead #contentColumn FIGURE {
	max-width: 430px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !NO MASTHEAD */

.noMasthead #contentColumn {
	width: 64.722222222222%;
	border-right: 1px solid #dbdcd9;
	padding: 0px 9px 0px 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !MASTHEAD WITH THREE COLUMNS UNDER */

.masthead-3-columns-under.secondary #hero {
	margin-bottom: 0;
}

.masthead-3-columns-under.secondary #contentContainer {
	padding-top: 20px;
}

.masthead-3-columns-under #contentColumn {
	width: 64.7222%;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !ONE COLUMN */

.oneColumn #contentColumn {
	width: 100%;
	/* margin-top: 20px; */
}

/*
.secondary.oneColumn #secondaryNavigation {
	margin-top: 20px;
}
*/

.oneColumnIntro > .left {
	width: 64.722222222222%;
}

.oneColumnIntro > .right {
	width: 32%;
}


/* ============================================================================================== */
/* !SECTION HOME */

.sectionHome #headlineContainer {
	margin: 0px 0px 10px 0px;
}

.twoColumns .column {
	/*width: 48.958333333333%; Commented out by TK */
	width: 50%;
	margin: 0;
}

.twoColumns .column-2 {
	float: right;
	margin-top: 24px;
}

.twoColumns .image {
	float: left;
	width: 40.425531914894%;
	text-align: left;
	margin: 5px 10px 0px 0px;
}

.twoColumns .copyBesideImage {

}

.twoColumns H2 {
	margin-bottom: 10px;
}

.twoColumns H3 {
	margin-bottom: 4px;
}


.sectionHome #articleContainer P {
	margin: 0px 0px 20px 0px;
}

.sectionHome #articleContainer A.tout {

	min-height: 106px;
	padding-top: 28px;


/*
	padding-top: 9%;
	padding-bottom: 9%;
*/
}

.sectionHome #articleContainer A.tout .title {
	margin: 0px 0px 4px 0px;
}

.sectionHome #articleContainer A.tout .copy {
	line-height: 16px;
}

/* ============================================================================================== */
/* !NEWS */

ARTICLE.item {
	margin: 0px 0px 20px 0px;
	
	*clear: both;
}

.ie7 ARTICLE.item {
	clear: both;
}

.downloadPDFcontainer {
	font-size: 10px;
	vertical-align: bottom;
}

.downloadPDFcontainer > .first {
	float: left;
}


.downloadPDFcontainer > .first A {
	color: #020202;
}

.downloadPDFcontainer > .first A:hover {
	color: #7ba4d9;
}

.downloadPDFcontainer > .first A IMG {
	margin: 0px 4px 0px 0px;
}

.downloadPDFcontainer > .last {
	position: relative;
	float: right;
}

.downloadPDFcontainer > .last SPAN {
	position: absolute;
	bottom: 0px;
	right: 0px;
	white-space: nowrap;
}

.news #contentColumn FIGURE {
	max-width: 460px;
}

A.pdf {
	display: inline-block;
	background: url(downloadPDF.png) no-repeat left top;
	min-height: 24px;
	padding: 5px 0px 0px 25px;
	font-weight: 700;
}


/* ============================================================================================== */
/* !EVENTS */

.events ARTICLE.item.noPhoto > .left {
	float: left;
	width: 21.505376344086%;
}

.events ARTICLE.item.noPhoto > .right {
	float: right;
	width: 75.268817204301%;
}

.events #contentColumn ARTICLE.item P {
	margin: 0px 0px 8px 0px;
}

.events #contentColumn ARTICLE.item P.location {
	color: #7ba4d9;
	font-weight: 700;
}

.noMasthead FIGURE {
	max-width: 461px;
}


/* ============================================================================================== */
/* !THUMBS */

.thumbsGroup {
	*clear: both;
}

.ie7 .thumbsGroup {
	clear: both;
}

.thumbsGroup .item {
	float: left;
	width: 32.394366197183%;
	width: 32%;
	margin: 0px 10px 0px 0px;
	margin: 0px 2% 0px 0px;
	clear: none;	
	padding: inherit;
}

.thumbsGroup .item:last-child, .thumbsGroup .item.last, .thumbsGroup .item:nth-child(3n+3) {	
	margin-right: 0;	
}

.callout {
	background: #7ba4d9;
	min-height: 60px;
	margin: 0px 0px 10px 0px;
}

#contentAside div.Badge {
	margin-bottom: 5px;
}


#toTop {
    font-family: "Arial Narrow", Arial;
    padding: 8px 8px;
    background: #ccc;
    color: #020202;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
#toTop a {
    text-decoration: none;
    color: #020202 !important;
}

.border-right {
	border-right-width: 2px; 
	border-right-style: solid; 
	border-right-color: black;
}

.boldUnitName {
	font-weight: bold;	
}

.gradUnit-xs {
	font-weight:normal;
	font-size:xx-small;
}

ul.bullet
{
	list-style: disc;
	margin-left: 20px;
	margin-right: 20px;
}