/* SP styles ********************************************************************************************/
/* used to reset the ootb styles on the title row tag in the Starter Collab master page; used for the fullscreen button in SP */
#s4-titlerow {
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
}

#s4-bodyContainer {
	padding-bottom: 0px;
}

#s4-workspace {
}
/* prevent web part menu from inheriting custom styles */
.ms-webpart-chrome-title IMG {
	max-width: none;
}

/* Custom styles ****************************************************************************************/
/* used by the Starter Publishing master page for fixed width display */
.customWidth {
	width: 100%;
}


input[type="button"], input[type="reset"], input[type="submit"], button {
	min-width: 1em;
}

.ie7 input[type="button"], .ie7 input[type="reset"], .ie7 input[type="submit"], .ie7 button {
	min-width: 75px;	
	padding-top: 0px;
}

.ie9 .searchForm BUTTON {
	height: 20px;
	padding-bottom: 0px;
}


/*
#body {
	margin-top: 0px;
}*/
.article-content {
	margin-top: 0px;
}
#contentBox {
	margin-right: inherit;
	margin-left: inherit;
	min-width: 0 !important;
	max-width: 960px;
	width: 100%;
}
/* used to ensure tout links are white rather than blue */
a.tout {
	color: #fff;

}


.siteHome #customPageTitle, .primaryHome #customPageTitle {
	display: none;
}


.ms-rteStyle-Footnote {	
    font-size: 8pt;  
	-ms-name: "Footnote";    
}

#printer {
	display: none;
	float: right;
	margin-top: 25px ;
	margin-right: 25px;
	padding: 5px 5px 5px 5px;
	/*
	background-image: url('images/icons/printer.png');
	background-position: left center;
	background-repeat: no-repeat;
	*/
}

.ms-webpartzone-cell {
	margin: 0px;
	padding: 0px;
}

.ms-webpart-cell-vertical {
    display: block;
}

.ms-webpart-cell-vertical {
    display: block;
}

.ms-webpart-chrome-vertical {
    display: block;
}

.stepBlock {
	background: url('step_block.png') transparent no-repeat scroll;	
	width: 75px;
	height: 75px;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	padding: 10px 0 0 15px;
	float: left;
}

#contentContainer ul, #contentContainer ol {
	margin-left: 40px;	
}

#contentContainer ul {	
	list-style-type: disc;	
}

#contentContainer ul > ul {	
	list-style-type: circle;	
}

#contentContainer ul > ul > ul  {	
	list-style: none;	/* make small disc */
	padding-left: 20px;
	margin-left: 0px;		
}

#contentContainer ul > ul > ul li:before  {	
	content:"• ";		
}

#contentContainer ul li p  {	
	display: inline;
}

#contentContainer ul li {
	padding-bottom: 8px;
}



#contentContainer ul.downloadPDFcontainer {	
	list-style-type: none;	
	margin-left: 0px;
}

.printOnly {
	display: none;	
}

/*
#contentAside div.Badge {
	margin-bottom: 5px;
}*/
