#nav .ipf-sectionmenu, #nav .ipf-sectionmenu ul {padding: 0;margin: 0;list-style: none;float:left;}
	#nav .ipf-sectionmenu li {position:relative; float:left;}
	#nav .ipf-sectionmenu li ul {position:absolute;left: -999em;width: 190px;}
	#nav .ipf-sectionmenu li ul ul {left: -999em;}
	#nav .ipf-sectionmenu li a {display:block; text-decoration:none; line-height: 1; border-right: 2px solid white; font-size: 1.4em; background: url(sgs/nav-corner.gif) top right no-repeat; font-family: Arial, Helvetica, sans-serif;padding: 12px 12px 0 10px;height: 31px;}
	#nav .ipf-sectionmenu li a:hover {text-decoration: underline;}
	#nav .ipf-sectionmenu li:hover ul ul, #nav .ipf-sectionmenu li:hover ul ul ul, #nav .ipf-sectionmenu li.sfhover ul ul, #nav .ipf-sectionmenu li.sfhover ul ul ul {left: -999em;}
	#nav .ipf-sectionmenu li:hover ul, #nav .ipf-sectionmenu li li:hover ul, #nav .ipf-sectionmenu li li li:hover ul, #nav .ipf-sectionmenu li.sfhover ul, #nav .ipf-sectionmenu li li.sfhover ul, #nav .ipf-sectionmenu li li li.sfhover ul {left: auto;}

#nav li#pageid34 a {max-width: 70px; padding: 6px 12px 0 10px; height: 37px;}
#nav li#pageid26 a {max-width: 85px; padding: 6px 12px 0 10px; height: 37px;}
#nav li#pageid27 a {max-width: 95px; padding: 6px 12px 0 10px; height: 37px;}
#nav li#pageid272 a {max-width: 155px; padding: 6px 12px 0 10px; height: 37px;}
#nav li#pageid301 a {display: none;} /* hides the 'grad room' in the top-nav, while still allowing its side-nav to function */

#nav .ipf-sectionmenu li li {background: #333333;}
	#nav .ipf-sectionmenu li li a {background: #333333; border-right: none; border-bottom: 1px solid white; font-size: 1.1em; height: auto !important; padding: 0.75em 15px !important; max-width: none !important; width: 160px;}
	#nav .ipf-sectionmenu li li a:hover {background: #222222;}

/* fix sticky flyouts in IE7 */
#nav .ipf-sectionmenu li:hover, #nav .ipf-sectionmenu li.hover {position:static;}